@font-face {
  font-family: 'ClashRoyale';
  src: url('fonts/YouBlockhead.ttf') format('truetype'); /* Adjust the path */
}

body {    
    font-family: 'ClashRoyale', sans-serif;
    background: #111;
    color: white;
    margin: 20px;
}

a {
  color: #4EA1FF;
  text-decoration: none;
}

select, button {
    font-family: inherit;
}

button {
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
}

button:hover {
  background: #666;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background: #222;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.card img {
    width: 80px;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
}

.card:hover {
    background: #333;
    cursor: pointer;
}

.card p {
    margin: 5px 0;
    font-size: 0.9em;
    font-family: 'ClashRoyale', sans-serif;
}

.two-lines {
  line-height: 1.2em;   /* height of one line */
  min-height: 2.4em;    /* reserve space for 2 lines */
}