@font-face {
  font-family: 'ClashRoyale';
  src: url('fonts/YouBlockhead.ttf') format('truetype'); /* Adjust path if needed */
}

/* General layout */
html,body {
  font-family: 'ClashRoyale', sans-serif;
  font-variant-numeric: lining-nums; /* Try to normalize digits */
  background: #111;
  color: white;
  margin: 0px 20px;
  height: 100%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0.5em;
}

a {
  color: #4EA1FF;
  text-decoration: none;
}

/* Utility classes */
.two-lines {
  line-height: 1.2em;
  min-height: 2.4em;
}

.civillian {
  color: #386cb0;
}

.imposter {
  color: #961d1d;
}

/* Card display */
#card {
  background: #222;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
}

#card img {
  width: 80px;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
}

input[type="tel"], select {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 6px;
    width: 3%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
}

select {
  width: auto;
}

#imposter-knows {
  min-width: 4.6em;
}


/* Settings panel */
#settings {
  margin: 1em 0;
}

#settings label {
  display: inline-block;
  margin-top: 0.5em;
}

/* Buttons */
button {
  margin-top: 1em;
  padding: 0.5em 1em;
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background: #666;
}

/* Center content in instruction and card screens */
#instruction-screen1,
#card-screen,
#instruction-screen2,
#passing-phone-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}


#card {
  width: 120px;
  margin: 0.5rem auto;       /* horizontal centering in flow */
  display: flex;
  flex-direction: column;
  align-items: center;       /* center children horizontally */
  justify-content: center;   /* center children vertically inside the card */
  background: #222;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

h2, #instruction-screen1 p,
#card-screen p,
#instruction-screen2 p,
#passing-phone-screen button {
    max-width: 300px; /* or any width you want */
    overflow-wrap: break-word;
    margin: 0.5rem auto;       /* horizontal centering in flow */
}

#start-button,
#passing-phone-next,
#instructions1-showcard,
#card-screen-next,
#instructions2-showcard,
#instructions2-next {
  aspect-ratio: 1 / 1;
  min-height: 130px;
}

@media (max-width: 450px) {
    #num-players, #num-imposters, select {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px
  }

  .start-buttons {
    font-size: 16px;
    height: 42px;
  }

  select {
    width: auto;
  }

}