@font-face {
  font-family: 'ClashRoyale';
  src: url('fonts/YouBlockhead.ttf') format('truetype'); /* Adjust the path */
}

body {    
    font-family: 'ClashRoyale', sans-serif;
    background: #111;
    color: white;
    margin: 20px;
    font-size: 25px;
}

a {
  color: #4EA1FF;
  text-decoration: none;
}

select, button {
    font-family: inherit;
    text-align: center;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}

button {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: #444;
    color: white;
    text-align: center;
    align-items: center;
}

button:hover {
    background-color: #666;
}

.two-lines {
  line-height: 1.2em;   /* height of one line */
  min-height: 2.4em;    /* reserve space for 2 lines */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background: #222;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 0.5rem auto;       /* horizontal centering in flow */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.card img {
    width: 160px;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
}

.card:hover {
    background: #333;
    cursor: pointer;
}

.card p {
    margin: 5px 0;
    font-size: 0.9em;
    font-family: 'ClashRoyale', sans-serif;
}

#next-card {
  margin: 0.5rem auto;       /* horizontal centering in flow */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 66px;
}

@media (max-width: 450px) {
  body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* prevent sideways scroll */
    font-size: 16px;
  }

  #game-screen {
    font-size: 25px;
  }

  select {
    width: auto;
  }

}